@media (max-width: 1250px) {
  .category__title {
    font-size: 45px;
  }

  .category__title_fz {
    font-size: 35px;
  }
}
@media (max-width: 1200px) {
  .single-recommend .product {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .category__inner {
    text-align: center;
  }

  .category__title {
    max-width: 100%;
    font-size: 35px;
  }

  .category__title_fz {
    font-size: 25px;
  }

  .category__pic_bot {
    position: static;
  }

  .category {
    padding: 15px;
    height: auto;
  }

  .category__pic {
    max-width: 350px;
    position: static;
    margin: 0 auto;
  }

  .news__item {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .hero__abstract_left {
    display: none;
  }

  .hero__mainpic {
    display: none;
  }

  .hero__container {
    text-align: center;
  }

  .hero__desc {
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  .header__nav ul li {
    margin-right: 15px;
  }

  .brand {
    margin-bottom: 25px;
  }

  .header__nav ul li a {
    font-size: 16px;
  }

  .header__btn {
    font-size: 16px;
  }

  .section {
    margin-bottom: 45px;
  }

  .filter {
    margin-bottom: 35px;
  }

  .page-products .product {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .footer__item {
    margin-bottom: 25px;
    text-align: center;
  }

  .footer__desc {
    text-align: center;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__subscribe {
    justify-content: center;
  }

  .single-page__subpics {
    margin-bottom: 25px;
  }

  .single-page__info-cat {
    text-align: center;
  }

  .single-page__info-title {
    text-align: center;
  }

  .single-page__info-desc {
    margin-bottom: 25px;
    text-align: center;
  }

  .single-page__apply-items {
    padding: 30px 12px;
  }

  .single-page__apply-item:first-child {
    margin-bottom: 25px;
  }

  .banner {
    height: 300px;

    &__container {
      height: 220px;
    }

    &__title {
      font-size: 50px;
    }
  }

  .contact__container {
    padding: 35px 0;
  }

  .contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contact__link {
    margin-bottom: 15px;
  }

  .contact__map {
    height: 300px;
  }

  .product {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .recommend__abstract_left {
    display: none;
  }

  .recommend__abstract_right {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    background: $primary;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px;
  }

  .categories {
    padding: 25px 0;
  }

  .maintxt {
    padding: 25px 0;
  }

  .maintxt__content {
    font-size: 28px;
    line-height: 40px;

    & strong {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .hero__abstract_right {
    display: none;
  }

  .subscribe {
    display: none;
  }

  .hero__title {
    margin-top: 0;
    font-size: 60px;
  }

  .hero__subtitle {
    font-size: 35px;
  }

  .hero__video {
    margin: 0 auto;
  }

  .main-burger {
    display: none;
  }

  .header__container {
    flex-wrap: wrap;
  }

  .header__nav {
    width: 100%;
  }

  .header__nav ul {
    flex-wrap: wrap;
  }

  .header__nav ul li {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .header__nav ul li a {
    font-size: 18px;
  }

  .header__btn-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
  }

  .header__btn {
    font-size: 18px;
  }

  .hamburger {
    display: block;
  }

  .copyright__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .copyright__txt {
    margin-bottom: 10px;
    text-align: center;
  }

  .product__title {
    font-size: 22px;
  }

  .category__title {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .single-page__info-cat {
    font-size: 33px;
  }

  .single-page__info-title {
    font-size: 33px;
  }

  .single-page__info-desc {
    font-size: 18px;
  }

  .single-page__char {
    width: 100%;
    margin-bottom: 15px;
  }

  .single-page__mainpic img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .single-page__info-cat {
    font-size: 23px;
  }

  .single-page__info-title {
    font-size: 23px;
  }

  .single-page__info-desc {
    font-size: 16px;
  }

  .hero {
    padding-bottom: 25px;
    height: auto;
  }

  .hero__container {
    height: auto;
  }

  .hero__title {
    line-height: unset;
  }

  .category__title {
    font-size: 22px;
  }

  .maintxt__content {
    font-size: 22px;
  }

  .maintxt__content strong {
    font-size: 22px;
  }
}
