.contacts {
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 354px;
  padding-top: 80px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: linear-gradient(
      0deg,
      rgba(110, 76, 152, 0.86),
      rgba(110, 76, 152, 0.86)
    );
  }

  &__container {
    display: flex;
    align-items: center;
    height: 265px;
  }

  &__title {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    color: $white;
  }
}

.contact {
  &__container {
    padding: 75px 0;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;

    &::before {
      margin-right: 15px;
      font-size: 22px;
      color: $primary;
    }
  }

  &__map {
    width: 100%;
    height: 592px;
    border-top: 7px solid $primary;
  }
}
