.catalog {
  &__item {
    position: relative;
    width: 100%;
    height: 286px;
    margin-bottom: 30px;
    overflow: hidden;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.44));
    background-position: center !important;
    background-size: cover !important;
    border-radius: 10px;

    &:hover {
      & .catalog__inner {
        top: 0;
      }
    }
  }

  &__inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(31, 31, 31, 0.7);
    transition: 0.3s;

    &-title {
      padding-top: 10px;
      padding-bottom: 29px;
      line-height: 30px;
      color: $white;
      text-align: center;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 400;
      color: $white;
      transition: 0.3s;

      & span {
        margin-right: 10px;
      }

      &:last-child {
        margin-top: 5px;
        margin-bottom: 0;
      }

      &:hover {
        color: $secondary;

        & *::before {
          color: $secondary;
          transition: 0.3s;
        }
      }
    }
  }

  & *::before {
    font-size: 25px;
    color: $white;
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 98px;
    content: '';
    background: linear-gradient(180deg, rgba(31, 31, 31, 0) 0%, #1f1f1f 77%);
  }
}

.catalog_inner_1 {
  top: 114%;
}

.catalog_inner_2 {
  top: 108%;
}

.catalog_inner_3 {
  top: 108%;
}

.catalog_inner_4 {
  top: 120%;
}

.catalog_inner_5 {
  top: 94%;
}
