<section class="section big-set">
  <div
    class="big-set__abstract"
    style="background: url('img/big_set_abstract.svg')"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <span class="big-set__pic">
          <img src="img/big_set_pic.png" alt="" />
        </span>
      </div>
      <div class="col-lg-6 big-set__titles">
        <span class="big-set__title">Большой набор</span>
        <span class="big-set__subtitle">моторных масел и фильтров</span>
      </div>
    </div>
  </div>
</section>
