<section class="section brands">
  <div class="container brand__container">
    <h2 class="brand__title">Наши бренды</h2>
    <div class="row">
      <div class="col-md-6 col-lg-3 col-xl-3">
        <div class="brand">
          <img src="img/brands/winiron.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <div class="brand">
          <img src="img/brands/shell.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <div class="brand">
          <img src="img/brands/micking.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <div class="brand">
          <img src="img/brands/wulsgen.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
