<section class="section catalog">
  <div class="container catalog__container">
    <h2 class="catalog__title">Наш Каталог</h2>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div
          class="catalog__item"
          style="background: url('../img/catalog_1.jpg') no-repeat"
        >
          <div class="catalog__shadow"></div>
          <div class="catalog__inner catalog_inner_1">
            <h4 class="catalog__inner-title">Моторные масла</h4>
            <a class="catalog__inner-link" href="#">
              <span class="icon-car"></span>
              Для легковых автомобилей
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-commerce"></span>
              Для коммерческого транспорта
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-cargo"></span>
              Для грузовых и комбайнов
            </a>
            <a class="catalog__inner-link" href="#">Показать все</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="catalog__item"
          style="background: url('../img/catalog_2.jpg') no-repeat"
        >
          <div class="catalog__shadow"></div>
          <div class="catalog__inner catalog_inner_2">
            <h4 class="catalog__inner-title">Трансмиссионные масла</h4>
            <a class="catalog__inner-link" href="#">
              <span class="icon-akpp"></span>
              АКПП
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-mkpp"></span>
              МКПП
            </a>
            <a class="catalog__inner-link" href="#">Показать все</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="catalog__item"
          style="background: url('../img/catalog_3.jpg') no-repeat"
        >
          <div class="catalog__shadow"></div>
          <div class="catalog__inner catalog_inner_3">
            <h4 class="catalog__inner-title">Индустриальные масла</h4>
            <a class="catalog__inner-link" href="#">
              <span class="icon-canister"></span>
              Гидравлические масла
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-canister"></span>
              Компрессорные масла
            </a>
            <a class="catalog__inner-link" href="#">Показать все</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="catalog__item"
          style="background: url('../img/catalog_4.jpg') no-repeat"
        >
          <div class="catalog__shadow"></div>
          <div class="catalog__inner catalog_inner_4">
            <h4 class="catalog__inner-title">Автомобильные фильтры</h4>
            <a class="catalog__inner-link" href="#">
              <span class="icon-filter"></span>
              Воздушные фильтры
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-canister"></span>
              Салонные фильтры
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-canister"></span>
              Масляные фильтры
            </a>
            <a class="catalog__inner-link" href="#">
              <span class="icon-canister"></span>
              Топливные фильтры
            </a>
            <a class="catalog__inner-link" href="#">Показать все</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="catalog__item"
          style="background: url('../img/catalog_5.jpg') no-repeat"
        >
          <div class="catalog__shadow"></div>
          <div class="catalog__inner catalog_inner_5">
            <h4 class="catalog__inner-title">Автомобильные фильтры</h4>
            <a class="catalog__inner-link" href="#">Показать все</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
