<section class="section catalog">
  <div class="container catalog__container">
    <h2 class="catalog__title">Наш Каталог</h2>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div
          class="catalog__item"
          style="background: url('../img/catalog_1.jpg') no-repeat"
        >
          <div class="catalog__inner">
            <h4 class="catalog__inner-title">Моторные масла</h4>
            <a class="catalog__inner-link" href="#">Гидравлические масла</a>
            <a class="catalog__inner-link" href="#">Компрессорные масла</a>
            <a class="catalog__inner-link" href="#">Показать все</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <a
          class="catalog__item"
          href="#"
          style="background: url('../img/catalog_2.jpg') no-repeat"
        ></a>
      </div>
      <div class="col-lg-4">
        <a
          class="catalog__item"
          href="#"
          style="background: url('../img/catalog_3.jpg') no-repeat"
        ></a>
      </div>
      <div class="col-lg-4">
        <a
          class="catalog__item"
          href="#"
          style="background: url('../img/catalog_4.jpg') no-repeat"
        ></a>
      </div>
      <div class="col-lg-4">
        <a
          class="catalog__item"
          href="#"
          style="background: url('../img/catalog_5.jpg') no-repeat"
        ></a>
      </div>
    </div>
  </div>
</section>
