<section class="section categories">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="category category__classes">
          <div class="category__inner">
            <span class="category__title">Моторные масла</span>
            <a class="category__btn" href="#">ПЕРЕЙТИ</a>
          </div>
          <div class="category__pic">
            <img src="img/categories/category_1.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="category category__classes">
          <div class="category__inner">
            <span class="category__title">Трансмиссионные масла</span>
            <a class="category__btn" href="#">ПЕРЕЙТИ</a>
          </div>
          <div class="category__pic">
            <img src="img/categories/category_2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="category">
          <div class="category__inner">
            <span class="category__title category__title_fz">
              Индустриальные масла
            </span>
            <a class="category__btn" href="#">ПЕРЕЙТИ</a>
          </div>
          <div class="category__pic category__pic_bot">
            <img src="img/categories/category_3.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="category">
          <div class="category__inner">
            <span class="category__title category__title_fz">
              Автомобильные фильтры
            </span>
            <a class="category__btn" href="#">ПЕРЕЙТИ</a>
          </div>
          <div class="category__pic category__pic_bot">
            <img src="img/categories/category_4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="category category__classes">
          <div class="category__inner">
            <span class="category__title"> Тормозные житкости </span>
            <a class="category__btn" href="#">ПЕРЕЙТИ</a>
          </div>
          <div class="category__pic">
            <img src="img/categories/category_5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
