<section class="feedback">
  <span class="feedback__abstract">
    <img src="img/feedback_abstract.png" alt="" />
  </span>
  <div class="container">
    <form action="/" class="feedback__form">
      <span class="feedback__title">Связаться с нами</span>
      <span class="feedback__desc">
        Оставьте ваше сообщение, наши менеджера в скором времени ответять на все
        ваши интересующиеся вопросы
      </span>
      <div class="feedback__inner">
        <label class="feedback__input">
          Ваше имя
          <input type="text" />
        </label>
        <label class="feedback__input">
          Ваш телефон
          <input type="text" />
        </label>
        <label class="feedback__textarea">
          Ваше сообщение
          <textarea></textarea>
        </label>
      </div>
      <div class="feedback__btn-out">
        <button class="feedback__btn" type="button">Отправить</button>
      </div>
    </form>
    <!-- /Form -->
    <div
      class="feedback__info"
      style="background: url('img/feedback_info.jpg') no-repeat"
    >
      <span class="feedback__info-shadow"></span>
      <div class="feedback__content">
        <div class="feedback__content-item">
          <span class="feedback__content-ico icon-shop"></span>
          <div class="feedback__content-titles">
            <span class="feedback__content-title">394</span>
            <span class="feedback__content-subtitle">Точек продаж</span>
          </div>
        </div>
        <!-- /Item -->
        <div class="feedback__content-item">
          <span class="feedback__content-ico icon-experience"></span>
          <div class="feedback__content-titles">
            <span class="feedback__content-title">20</span>
            <span class="feedback__content-subtitle">Лет опыта</span>
          </div>
        </div>
        <!-- /Item -->
        <div class="feedback__content-item">
          <span class="feedback__content-ico icon-worker"></span>
          <div class="feedback__content-titles">
            <span class="feedback__content-title">60</span>
            <span class="feedback__content-subtitle">Работников</span>
          </div>
        </div>
        <!-- /Item -->
      </div>
    </div>
  </div>
</section>
