<section class="feedback">
  <span class="feedback__abstract">
    <img src="img/feedback_abstract.svg" alt="" />
  </span>
  <div class="feedback__car">
    <img src="img/car.png" alt="" />
  </div>
  <div class="container">
    <form action="/" class="feedback__form">
      <span class="feedback__title">Связаться с нами</span>
      <span class="feedback__desc">
        Оставьте ваше сообщение, наши менеджера в скором времени ответять на все
        ваши интересующиеся вопросы
      </span>
      <div class="feedback__inner">
        <label class="feedback__input">
          Ваше имя
          <input type="text" />
        </label>
        <label class="feedback__input">
          Ваш телефон
          <input type="text" />
        </label>
        <label class="feedback__textarea">
          Ваше сообщение
          <textarea></textarea>
        </label>
      </div>
      <div class="feedback__btn-out">
        <button class="feedback__btn" type="button">Отправить</button>
      </div>
    </form>
    <!-- /Form -->
  </div>
</section>
