<footer class="footer">
  <div
    class="footer__abstract"
    style="background: url('img/footer_abstract.svg')"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a class="footer__logo" href="#">
          <img src="img/logos/logo_light.svg" alt="" />
        </a>
        <span class="footer__desc">
          Компания «Global Oil Uzbekistan» — официальный узбекский интернет-
          ретейлер моторного масла с сертифицированной по ГОСТ Узбекистана.
        </span>
      </div>
      <div class="col-lg-3">
        <nav class="footer__nav d-flex justify-content-center">
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <nav class="footer__nav">
          <ul>
            <li><a href="#">Моторные масла</a></li>
            <li><a href="#">Трансмиссионные масла</a></li>
            <li><a href="#">Индустриальные масла</a></li>
            <li><a href="#">Автомобильные фильтры</a></li>
            <li><a href="#">Тормозные жидкости</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="footer__contacts">
          <a class="footer__contact" href="tel:+998332079090">
            <span class="icon-phone"></span>
            +998 (33) 207-90-90
          </a>
          <a class="footer__contact" href="info@globaloil.uz">
            <span class="icon-mail"></span>
            info@globaloil.uz
          </a>
          <span class="footer__contact">
            <span class="icon-marker"></span>
            Узбекистан, г. Ташкент, <br />ул. Чорбог (Бирлик), д. 3
          </span>
        </div>
        <div class="footer__subscribe">
          <a class="footer__subscribe-item" href="#">
            <span class="icon-telegram"></span>
          </a>
          <a class="footer__subscribe-item" href="#">
            <span class="icon-instagram"></span>
          </a>
          <a class="footer__subscribe-item" href="#">
            <span class="icon-facebook"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container copyright__container">
    <div class="copyright__txt">
      © 2021 ООО «GLOBAL LUBRICANT». Все права защищены
    </div>
    <a class="dev" href="http://xspace.uz/" target="_blank">
      <span class="dev__txt">
        Дизайн и<br />
        разработка
      </span>
      <span class="dev__logo">
        <img src="img/logos/logo_dev.svg" alt="" />
      </span>
    </a>
  </div>
</div>
