<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="#">
      <img src="img/logos/logo.svg" alt="" />
    </a>
    <div class="header__inner">
      <nav class="header__nav">
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Продукция</a></li>
          <li><a href="#">Медиа</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <a class="header__btn" href="#">Оставить заявку</a>
    </div>
  </div>
</header>
