<section class="hero">
  <span class="hero__pic_left">
    <img src="img/hero_pic_left.png" alt="" />
  </span>
  <span class="hero__pic_right">
    <span class="hero__abstract">
      <img src="img/hero_abstract.png" alt="" />

      <div class="hero__micking">
        <img src="img/hero_micking.png" alt="" />
      </div>
      <div class="hero__shell">
        <img src="img/hero_shell.png" alt="" />
      </div>
      <div class="hero__winiron">
        <img src="img/hero_winiron.png" alt="" />
      </div>
    </span>
  </span>
  <div class="container hero__container">
    <span class="hero__titles">
      <h1 class="hero__title">Моторные масла</h1>
      <span class="hero__subtitle">на минеральной основе</span>
    </span>
  </div>
</section>
