<section class="hero">
  <div class="hero__container">
    <div class="hero__abstract_left">
      <img src="img/hero_left_abstract.png" alt="" />
    </div>
    <div class="hero__abstract_right">
      <img src="img/hero_right_abstract.png" alt="" />
    </div>
    <div class="hero__mainpic">
      <img src="img/hero_main_pic.jpg" alt="" />
    </div>
    <span class="hero__title">Моторные масла</span>
    <span class="hero__subtitle">на минеральной основе</span>
    <span class="hero__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam
    </span>
    <a class="hero__btn" href="#">Продукция</a>

    <div class="hero__video">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/H61aoEzfcgI"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>

    <div class="subscribe">
      <a class="subscribe__item icon-telegram" href="#"></a>
      <a class="subscribe__item icon-instagram" href="#"></a>
      <a class="subscribe__item icon-facebook" href="#"></a>
    </div>
  </div>
</section>
