<section class="section news">
  <div class="container">
    <h2>Новости компании</h2>
    <div class="row">
      <div class="col-xl-6">
        <div class="news__item">
          <div class="news__pic">
            <img src="img/news/news_1.jpg" alt="" />
          </div>
          <div class="news__content">
            <span class="news__title">
              Lorem ipsum dolor sit amet, consectetur
            </span>
            <span class="news__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </span>
            <div class="news__inner">
              <div class="news__date">25.12.2020</div>
              <a class="news__btn" href="#">
                Читать
                <img src="img/news/arrow.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="news__item">
          <div class="news__pic">
            <img src="img/news/news_2.jpg" alt="" />
          </div>
          <div class="news__content">
            <span class="news__title">
              Lorem ipsum dolor sit amet, consectetur
            </span>
            <span class="news__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </span>
            <div class="news__inner">
              <div class="news__date">25.12.2020</div>
              <a class="news__btn" href="#">
                Читать
                <img src="img/news/arrow.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="news__item">
          <div class="news__pic">
            <img src="img/news/news_3.jpg" alt="" />
          </div>
          <div class="news__content">
            <span class="news__title">
              Lorem ipsum dolor sit amet, consectetur
            </span>
            <span class="news__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </span>
            <div class="news__inner">
              <div class="news__date">25.12.2020</div>
              <a class="news__btn" href="#">
                Читать
                <img src="img/news/arrow.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="news__item">
          <div class="news__pic">
            <img src="img/news/news_4.jpg" alt="" />
          </div>
          <div class="news__content">
            <span class="news__title">
              Lorem ipsum dolor sit amet, consectetur
            </span>
            <span class="news__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </span>
            <div class="news__inner">
              <div class="news__date">25.12.2020</div>
              <a class="news__btn" href="#">
                Читать
                <img src="img/news/arrow.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
