<div class="product">
  <span class="product__abstract">
    <img src="img/product_abstract.svg" alt="" />
  </span>
  <span class="product__pic">
    <img src="img/single_product.png" alt="" />
  </span>
  <h4 class="product__title">Platinum 5W-40</h4>
  <div class="product__info">
    <span>Тип</span>
    <span>Моторное масло</span>
  </div>
  <div class="product__info">
    <span>Бренд</span>
    <span>Winiron</span>
  </div>
  <div class="product__info">
    <span>Объем</span>
    <span>4L</span>
  </div>
  <div class="product__btn-out">
    <a class="product__btn" href="#">Подробно</a>
  </div>
</div>
<!-- * /Product -->
