<section class="section recommend">
  <div class="recommend__abstract_left">
    <img src="img/rec_abstract_left.svg" alt="" />
  </div>
  <div class="recommend__abstract_right">
    <img src="img/rec_abstract_right.svg" alt="" />
  </div>

  <div class="container">
    <h2 class="recommend__title">Мы рекомендуем</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
      <div class="col-md-6 col-lg-4 col-xl-3">@@include('_product.html')</div>
    </div>
  </div>
</section>
