<section class="section recommend">
  <div class="container">
    <h2 class="recommend__title">Мы рекомендуем</h2>
    <div class="row">
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
      <div class="col-lg-3">@@include('_product.html')</div>
    </div>
  </div>
</section>
