@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-Regular.woff2') format('woff2'),
    url('../fonts/Panton/Panton-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-SemiBold.woff2') format('woff2'),
    url('../fonts/Panton/Panton-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-Bold.woff2') format('woff2'),
    url('../fonts/Panton/Panton-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// * icommon
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.woff2') format('woff2'),
    url('../fonts/icomoon/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-akpp:before {
  content: '\e900';
}
.icon-canister:before {
  content: '\e901';
}
.icon-car:before {
  content: '\e902';
}
.icon-facebook:before {
  content: '\e903';
}
.icon-shop:before {
  content: '\e904';
}
.icon-experience:before {
  content: '\e905';
}
.icon-worker:before {
  content: '\e906';
}
.icon-filter:before {
  content: '\e907';
}
.icon-quality:before {
  content: '\e908';
}
.icon-store:before {
  content: '\e909';
}
.icon-certificate:before {
  content: '\e90a';
}
.icon-instagram:before {
  content: '\e90b';
}
.icon-mail:before {
  content: '\e90c';
}
.icon-marker:before {
  content: '\e90d';
}
.icon-mkpp:before {
  content: '\e90e';
}
.icon-phone:before {
  content: '\e90f';
}
.icon-thermometr:before {
  content: '\e911';
}
.icon-stable:before {
  content: '\e912';
}
.icon-shield:before {
  content: '\e913';
}
.icon-telegram:before {
  content: '\e914';
}
.icon-cargo:before {
  content: '\e915';
}
.icon-commerce:before {
  content: '\e916';
}
.icon-mechanik:before {
  content: '\e917';
}
